// Any form styling should be added here
.bn-form .form-group {
  margin-bottom: .5rem;
}

.bn-form .field {
  display: flex;
  align-items: center;
}

.bn-form .bn-label {
  margin-bottom: .25rem;
  font-size: 13px;
  display: block;
}

.bn-form mat-icon {
  transform: scale(.85);
}

.bn-form textarea {
  white-space: pre-wrap;
}

.bn-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.bn-form .row mat-form-field {
  width: 50%;
}
