.company-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.company-row mat-form-field {
  width: 50%;
}

@media (max-width: 800px) {
  .company-row {
    flex-direction: column;
    gap: 0;
  }

  .company-row mat-form-field {
    width: 100%;
  }
}
