.configuration-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .configuration-row {
    flex-direction: column-reverse;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 10px;
  }
}
